<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/todos' ? 'active' : '' %>" href="/todos"
          >To Does</a
        >
      </li>
    </ul>
  </nav>
</header>
