<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/todo.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="todo-form" action="/add" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
            </div>
            <button class="btn" type="submit">Add</button>
        </form>

        <div class="todo-list">
            <% if (list.length > 0) { %>
                <div class="grid">
                    <% for (let item of list) { %>
                        <article class="card todo-item">
                            <header class="card__header">
                                <h2 class="todo__title"><%= item.title %></h2>
                            </header>
                        </article>
                    <% } %>
                </div>
            <% } else { %>
                <h1>No to do Found!</h1>
            <% } %>
        </div>
    </main>
<%- include('../includes/end.ejs') %>